<%= render 'books/list', user: @user, books: @books, book: @book %>

<h1>Books</h1>

    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Opinion</th>
        </tr>
      </thead>
      <tbody>
         <% @books.each do |book| %>
        <tr>
           <td><%= book.title%></td>
           <td><%= book.opinion %></td>
         
           
        </tr>
        <% end %>
      </tbody>
    </table>








